<h1>Проекты</h1>

<%= link_to 'Добавить', new_article_path %> 

<table>
  <tr>
    <th>Заголовок</th>
    <th>Текст</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Открыть', article_path(article) %></td>
      <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
      <td><%= link_to 'Удалить', article_path(article),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>