<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Малоэтажное строительство</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/building.jpg", alt: "Малоэтажное строительство"%>                </br></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Малоэтажное строительство</h2>
                        <div class="entry-content">
                            <p class="intro">Малоэтажное строительство – новый тренд на российском рынке недвижимости, который набирает все большую популярность в Московской области. Это и понятно – ведь при высоте домов в 5-6 этажей площадь заселения получается гораздо ниже, чем в 17-20 этажных высотках современных «спальных» районов, а значит и у покупателей квартир будет в 5-6 раз меньше соседей.</p>

                            <p>В настоящее время в строительстве малоэтажных зданий принято выделять три большие категории в зависимости от специфики объектов.</p>

                            <ul class="circle indent">
                            <li>Гражданское. Строительство малоэтажного жилья – это возведение и обустройство загородных коттеджей, составляющих целые поселки, по типовым или индивидуальным проектам. Также на рынке появляется все больше привлекательных предложений многоквартирных домов, расположенных в жилых комплексах Московской области.</li>

                            <li>Коммерческое. Для экономической и общественной деятельности возводятся торговые центры среднего звена, магазины, ресторанные комплексы, социально значимые объекты (дома отдыха, больницы, частные школы и др.).</li>

                            <li>Хозяйственное. В невысоких зданиях могут размещаться складские помещения, гаражи, сооружения бытового назначения и другие объекты.</li>
                            </ul>

                            <h4>Преимущества жилых проектов малоэтажного строительства:</h4>

                            <ul class="circle indent">
                            <li>Комфортная обстановка. Проживая в домах малой этажности, человек чувствует себя более свободно, чем условиях многоэтажной городской застройки – строения в 3-4 этажа не «давят» своими габаритами, а значит, проживание в них психологически более комфортно.</li>
                            
                            <li>Высокие темпы строительства. Строительство домов с малым количеством этажей позволяет затратить меньше средств на обустройство фундамента. Создание проектов таких зданий требует меньших трудовых и временных затрат по сравнению с документацией для высотных многоквартирных домов.</li>

                            <li>Нахождение в местах с благоприятной экологией. Для строительства малоэтажных домов выбираются пригороды крупных городов или районы, находящиеся на небольшом отдалении от них, в окружении природы. Это обеспечивает комфортное проживание в квартирах, высокую популярность такого жилья среди покупателей.</li>
                            </ul>

                            <h4>Типы зданий по конструкции малоэтажного жилья:</h4>

                            <ul class="circle indent">

                            <li>Кладочные. По данной технологии возводятся малоэтажные жилые и коммерческие дома из камня, кирпича, бревна, бруса, пеноблоков и др. Выбор доступных кладочных материалов для строительства промышленных и многоквартирных объектов отличается большим разнообразием.</li>
                            <li>Монолитные. Такая конструкция свойственна домам из бетона, керамзитобетона, саманно-заливным строениям и т. п.  Монолитные технологии обеспечивают наибольшую прочность и долговечность готового жилья, это наиболее оптимальный, современный и технологичный способ строительства дома.</li>
                            <li>Каркасные. Конструкция данных жилых и коммерческих объектов имеет деревянный, металлический или другой каркас, а для заполнения пространства несущих стен используются различные кладочные материалы. Реализация подобных проектов отличается меньшими сроками.</li>
                            <li>Панельные и щитовые. К таким промышленным и многоквартирным домам относятся здания из деревянных панелей и щитов, легких стальных листов, железобетонных материалов и др. Реализация жилищного проекта и последующая сдача квартир в эксплуатацию, как правило, ведется в хорошем темпе, но имеет и ряд недостатков при последующей эксплуатации, связанных, к примеру с показателями тепло- и шумоизоляции.</li>
                            <li>Комбинированные. На рынке загородного малоэтажного жилья Московской области популярно сочетание каркасной и кладочной или панельно-щитовой технологии. Также жилые и общественные здания из монолита могут быть облицованы кирпичом, блоками различной природы и др.</li>
                            </ul>

                            <p>Работа программы малоэтажного строительства направлена на решение жилищного вопроса в рамках национального проекта «Доступное жилье». Основная цель законопроекта – увеличение доступности земельных участков в экологически чистых районах Самарской области. Благодаря этому принципу программы малоэтажное жилищное строительство все больше привлекает людей, стремящихся приобрести комфортабельные квартиры по приемлемой цене, а также инвесторов, желающих вложить свои финансы в выгодные проекты.</p>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><%= link_to "Благоустройство", pages_beautyfication_url %></li>
                            <li><%= link_to "Кровельные работы", pages_roofing_url %></li>
                            <li><%= link_to "Металлоконструкции", pages_metall_url %></li>
                            <li><%= link_to "Отделочные работы", pages_finishing_url %></li>
                            <li><%= link_to "Малоэтажное строительство", pages_building_url %></li>
                            <li><%= link_to "Отопление и водоснабжение", pages_heating_url %></li>
                            <li><%= link_to "Электромонтажные работы", pages_electrician_url %></li>
                            <li><%= link_to "Бассейны", pages_pools_url %></li>


                    </ul>
                </div>

            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->