  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<title>Контакты</title>
<section id="content" class="container clearfix">
  <section>
  
  <style type="text/css">
      #map-canvas {
        width: 940px;
        height: 350px;
      }
    </style>

    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng(53.2059787, 50.2139744);
  var mapOptions = {
    zoom:     17,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'ООО СК «Рубин»'
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<div id="map-canvas"></div>

            </section>
            <!-- end google map -->
            
            <!-- begin main -->
            <section id="main" class="three-fourths">
            <!-- begin contact form -->
            <h2>Связаться с нами</h2>

            <div id="contact-notification-box-success" class="notification-box notification-box-success" style="display: none;">
                <p>Ваше сообщение было успешно отправлено.</p>
                <a href="#" class="notification-close notification-close-success">x</a>
            </div>

                <div id="contact-notification-box-error" class="notification-box notification-box-error " style="display: none;">
                    <p id="contact-notification-box-error-msg" data-default-msg="Ваше сообщение не может быть отправлено. Пожалуйста повторите позднее."></p>
                    <a href="#" class="notification-close notification-close-error">x</a>
                </div>

            <%= form_for :question, url: questions_url, :html => { :id => "contact-form", :class => "content-form" } do |form| %>
                <label for="question_name"><span class="note">*</span> Имя:</label>
                <%= form.text_field :name, id: "name", :class => "requierd" %>
                <label for="question_email"><span class="note">*</span> Email:</label>
                <%= form.email_field :email, id: "email", :placeholder => "Введите свой e-mail адрес", :class => "requierd" %>
                <label for="question_subject"><span class="note">*</span> Тема:</label>
                <%= form.text_field :subject, id: "subject", :class => "requierd" %>
                <label for="question_message"><span class="note">*</span> Сообщение:</label>
                <%= form.text_area :message, size: "68x8", id: "message", :class => "requierd" %>
                </br>
                <%= form.submit "Отправить", :class => "button" %>
            <% end %>

            <p><span class="note">*</span> Поля, обязательные для заполнения</p>
            <!-- end contact form -->

            </section>
            <!-- end main -->
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
            	<div class="widget contact-info">
                    <h3>Контакты</h3>
                    <p class="address"><strong>Адрес:</strong> 443066, г. Самара, <br/> ул. Советской Армии, 93, офис 9</p>
                    <p class="phone"><strong>Телефон:</strong> +7 (846) 205-60-88 (офис)<br/></p>
                    <p class="email"><strong>Email:</strong> <a href="mailto:ckrubin@yandex.ru">ckrubin@yandex.ru</a></p>
                    <p class="business-hours"><strong>Часы работы:</strong><br>
                    Понедельник-Пятница: 9:00-18:00<br>
                    Суббота: 10:00-17:00<br>
                    Воскресенье: Выходной
                    </p>
                </div>
            </aside>
            <!-- end sidebar -->
            
            <!-- end main content -->
        </section>
        <!-- end content -->             
 
</body>
</html>