<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Электромонтажные работы</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/electrician.jpg", alt: "Электромонтажные работы"%>                </br></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Электромонтажные работы</h2>
                        <div class="entry-content">
                            <p class="intro">Строительная компания «Рубин» предоставляет полный спектр услуг по проектированию и электромонтажу электроустановок, электромонтажным работам любой сложности, согласованию проектов и сдачей их в эксплуатацию, комплектацию объекта электрооборудованием ведущих зарубежных и отечественных производителей, имеет, аттестованную в органах энергонадзора, электроизмерительную лабораторию (электролаборатория).</p>

                            <p>Мы выполняем электромонтажные работы любой сложности в квартирах и офисах, административных, общественных и промышленных помещениях, зданиях и сооружениях любых годов постройки и из любых материалов. Как и другие э лектромонтажные организации высочайшего уровня, мы располагаем штатом высококвалифицированных специалистов и современной материально-технической базой, в том числе собственной электротехнической лабораторией. Все штатные сотрудники, от начальников отделов до электромонтажников, имеют профильные дипломы, опыт работы от 5 лет и необходимые допуски по электробезопасности.</p>

                            <h4>Мы гарантируем ответственный, профессиональный подход и соблюдение всех строительных норм и правил при оказании следующих услуг:</h4>

                            <ul class="circle indent">
                            <li>Проектирование электроснабжения</li>

                            <li>Электромонтажные работы</li>

                            <li>Измерения и испытания в передвижной электролаборатории</li>

                            <li>Сдача объекта в эксплуатацию</li>

                            </ul>


                            <h4>Электромонтажные работы в квартире</h4>

                            <p>Выполняя электромонтажные работы в Москве, наши специалисты учитывают все нюансы организации или реконструкции электроснабжения в столичных новостройках, «сталинках» и «хрущевках». Все электромонтажные работы выполняются в полном соответствии с современными токовыми нагрузками и требованиями безопасности.</p>

                            <h4>Перечень услуг по электромонтажу в квартире включает:</h4>

                            <ul class="circle indent">
                            <li>Прокладка скрытой и открытой электропроводки</li>

                            <li>Монтаж осветительных приборов, систем освещения, бытовой техники</li>

                            <li>Замена и реконструкция имеющейся проводки и электроустановочных приборов</li>

                            <li>Монтаж телевизионных, телефонных, интернет-кабелей и других слаботочных сетей</li>

                            <li>Cборка и монтаж ВРУ, счетчиков, щитов</li>
                            </ul>

                            <p>В случае организации электроснабжения в квартире-новостройке, мы берем на себя обязательства по проведению полного комплекса электромонтажных работ – от изготовления и согласования проекта электроснабжения в Ростехнадзоре до сдачи объекта в эксплуатацию.</p>

                            <h4>Электромонтажные работы в доме</h4>

                            <p>Владельцы частных домов, загородных коттеджей и дач обращаются в электромонтажные организации в связи с необходимостью создать новую или реконструировать имеющуюся систему электроснабжения, например, провести плановые ремонтные работы или внедрить энергосберегающие технологии.</p>

                            <p>У нас можно оформить заказ на следующие услуги электромонтажа в доме (как комплексные, так и разовые):</p>

                            <ul class="circle indent">
                            <li>Монтаж внутренней электропроводки</li>

                            <li>Монтаж внешних и внутренних систем освещения и осветительных приборов</li>

                            <li>Электрификация дома (прокладка силовых кабелей от магистральных линий)</li>

                            <li>Монтаж систем отопления, вентиляции и других инженерных сетей</li>

                            <li>Молниезащита</li>
                            </ul>

                            <h4>Электромонтажные работы в нежилых помещениях</h4>

                            <p>К проведению электромонтажных работ в офисах, административных и общественных зданиях, на торговых и производственных площадях предъявляются особенно высокие требования, поскольку речь идет о безопасности многих людей, сохранности дорогостоящего оборудования и ценной информации. Электромонтажная организация «Алсера» готова выступить в роли надежного подрядчика для решения следующих задач:</p>

                            <ul class="circle indent">
                            <li>Монтаж систем освещения, электросетей</li>

                            <li>Работы по монтажу и пуско-наладке электротехнического оборудования</li>

                            <li>Монтаж систем безопасности (контроль доступа, охранные и пожарные сигнализации)</li>

                            <li>При необходимости у нас можно заказать полный пакет проектной документации, включающий лабораторные испытания и согласование в органах надзора</li>
                            </ul>

                            <p>У нас работают высококвалифицированные электромонтажники, которые выполняют качественно и в срок электромонтажные работы по электроснабжению энергосистемы. Мы проводим электромонтаж любого электрооборудования, капитальный ремонт электрики, профилактические электротехнические работы. Если ваша электропроводка требует профессиональный электромонтаж или вам срочно нужна прокладка кабеля, электропроводка квартиры, а так же высотный монтаж кабеля и электрооборудования, то специалисты нашей компании готовы работать круглосуточно, чтобы восстановить электроснабжение вашей энергосистемы.</p>

                            <p>Сегодня в наших руках — самые современные технологии и приёмы, позволяющие создавать профессиональное освещение офисов, освещение торговых площадей, спортивных объектов, промышленных зон, гостиниц, ресторанов, ландшафтных территорий и садово-парковых зон, освещение домов и коттеджей. Предлагаемые нами решения основываются на создании максимального комфорта при внутреннем освещении и создании выразительного художественного образа при вечернем наружном освещении. Мы изготовим для вас индивидуальные проекты электрики квартир, дач, коттеджей, офисов, зданий и сооружений, а так же на архитектурно — художественное освещение и наружное освещение.</p>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><%= link_to "Благоустройство", pages_beautyfication_url %></li>
                            <li><%= link_to "Кровельные работы", pages_roofing_url %></li>
                            <li><%= link_to "Металлоконструкции", pages_metall_url %></li>
                            <li><%= link_to "Отделочные работы", pages_finishing_url %></li>
                            <li><%= link_to "Малоэтажное строительство", pages_building_url %></li>
                            <li><%= link_to "Отопление и водоснабжение", pages_heating_url %></li>
                            <li><%= link_to "Электромонтажные работы", pages_electrician_url %></li>
                            <li><%= link_to "Бассейны", pages_pools_url %></li>

                    </ul>
                </div>
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->