<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Эпоксидные наливные полы</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/epox_flooring.jpg", alt: "Полимерные полы"%>                </br></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Эпоксидные наливные полы</h2>
                        <div class="entry-content">
                            <p class="intro">
                                Наливной эпоксидный пол наносится методом «налива». Это дает возможность получить гладкую ровную поверхность готового покрытия, что практически недостижимо при нанесении покрытия кистями валиками, распылителями и т.п. Перед нанесением необходимо тщательно подготовить поверхность: обеспечить её ровность (перепады - не более 2мм на рейке 2м); обеспечить полное закрытие пор бетона, что достигается нанесением протекторного слоя.
                            </p>

                            <p>
                                Для «увеличения» декоративных свойств поверхности полов можно стыковать участки с разными цветами, делать цветовые разводы, использовать дополнительные декоративные элементы (блестки, чипсы, флоки и т.п.).
                            </p>
                            <p>
                                Толщина покрытия зависит от нескольких факторов: нагрузок, назначения помещения, пожеланий заказчика и т.д. Минимальная толщина 1,5–2мм, наиболее распространенная 2,0-2,5мм, максимальная 4,5-5мм. Делать наливные эпоксидные полы большей толщины не имеет смысла, так как, с одной стороны цена наливных полов возрастает, с другой, увеличение толщины не дает ни каких эксплуатационных преимуществ.
                            </p>

                            <p> Наливные эпоксидные полы применяются как на «больших» промышленных объектах, так и на «маленьких» бытовых. 
На промышленных объектах: цеха, склады, паркинги и т.п. - эпоксидные полы чаще всего выполняются в виде кварцнаполненных покрытий. Это обеспечивает два больших преимущества: уменьшение цены и увеличение прочности – стойкости к истирающим нагрузкам. Уменьшение цены наливных полов происходит за счет замены части полимера на кварцевый песок. Кроме того цена наливного пола уменьшается за счет более простой технологии укладки. Повышение износостойкости происходит за счет того, что кварцевый песок находится непосредственно в лицевом слое и воспринимает нагрузку на себя. Еще одним достоинством покрытий с кварцем является возможность легко регулировать шероховатость поверхности - от очень шероховатой до практически гладкой. Купить наливной пол и кварцевый песок вы можете в одном месте. </p>

<p>На общественных объектах: офисы, торговые и развлекательные центры, поликлиники, больницы и т.п. - выполняются классические эпоксидные наливные полы. При устройстве таких полов лицевой слой наносится именно методом налива, что позволяет получить максимально гладкую поверхность и, соответственно, лучший внешний вид.
В ресторанах, барах, танцзалах, фитнесах и т.п. могут выполняться высоко декоративные наливные эпоксидные полы. Для их устройства применяются различные декоративные элементы: блестки, чипсы, флоки и т.п. Кроме того могут выполняться прозрачные покрытий с картинами и фотографиями, 3d полы, покрытия с подсветкой и т.д. и т.п. – всё ограничено только Вашей фантазией.
</p>

<p> Эпоксидные наливные полы могут эксплуатироваться внутри помещений, «под навесом» и ограниченно на открытом воздухе. Если они выполняются на открытом воздухе, необходимо наличие гидроизоляции бетонного основания. </p>

<!-- <ul class="project-carousel">

                <li class="entry">
                    <div class="entry-slider">
                        <a class="fancybox"><%=image_tag "link" %></a>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-slider">
                        <a class="fancybox"><%=image_tag "link" %></a>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-slider">
                        <a class="fancybox"><%=image_tag "link" %></a>
                    </div>
                </li>
            </ul> -->

<h4>Свойства покрытий, выполненных с использованием наливного эпоксидного пола:</h4>
<ul class="circle indent">
<li>стойкость к физикомеханическим и химическим воздействиям</li>
<li>высокие декоративные свойства</li>
<li>полная герметизация бетона</li>
<li>полное обеспыливание бетона</li>
<li>можно использовать любые моющие средства</li>
<li>стойкость к ультрафиолету</li>
</ul>

<h4>Объекты применения: </h4>

<ul class="circle indent">
<li>торгово-развлекательные комплексы, супермаркеты, магазины</li>
<li>бары, рестораны, клубы</li>
<li>административные и общественные здания, офисы</li>
<li>медицинские учреждения</li>
<li>паркинги, склады, цеха</li>
<li>разрешены к применению на предприятиях пищевой и фармацевтической промышленности</li>
</ul>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><%= link_to "Благоустройство", pages_beautyfication_url %></li>
                            <li><%= link_to "Кровельные работы", pages_roofing_url %></li>
                            <li><%= link_to "Металлоконструкции", pages_metall_url %></li>
                            <li><%= link_to "Отделочные работы", pages_finishing_url %></li>
                            <li><%= link_to "Малоэтажное строительство", pages_building_url %></li>
                            <li><%= link_to "Отопление и водоснабжение", pages_heating_url %></li>
                            <li><%= link_to "Электромонтажные работы", pages_electrician_url %></li>
                            <li><%= link_to "Бассейны", pages_pools_url %></li>

                    </ul>
                </div>              
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->