<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Отделочные работы</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/finishing.jpg", alt: "Отделочные работы"%></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Черновые и чистовые отделочные работы</h2>
                        <div class="entry-content">
                            <p>Отделочные работы в квартире, коттедже играют огромную роль в комплексе ремонтных работ. Начиная ремонт в своей квартире, Вы мысленно представляете картинку, как будет выглядеть ваша квартира или ваш дом после окончания всех работ. Если по окончанию ремонта ваша квартира или дом смотрятся достойно, значит не зря вложены деньги и потрачено время. Отделочные работы делятся на два этапа: черновые отделочные работы и чистовые отделочные работы.</p>

                            <p>Черновые отделочные работы</p>

                            <ul class="circle indent">
                            <li>Штукатурные работы. Это первый этап подготовки поверхности стен и потолков для их дальнейшей чистовой отделки; покраски, наклеиванию обоев, декоративной штукатурки. Это, то с чего начинаются отделочные работы. От того, как будут выполнены штукатурные работы зависит качество чистовой отделки. Выравнивание стен и потолков штукатурными составами производится для того , что бы скрыть неровности более 5 мм. которые имеются в бетонных плитах, панелях, выстроенных кирпичных стенах. Если неровности не превышают 5 мм. можно обоитись шпаклеванием.</li>
                            <li>Стяжка пола. Это промежуточный слой между бетонным перекрытием и напольным покрытием. Стяжка пола играет основную роль в отделке пола, от того, как будет выполнена стяжка пола зависит качество укладки, настила напольного покрытия. Стяжка пола выполняется цементно-песчанным раствором или самовыравнивающимся наливным полом.</li>
                            <li>Гипсокартонные работы. Помимо штукатурных работ применяется отделка поверхностей гипсокартонными листами. При этом скорость и качество отделки очень высокие. Существует два способа крепления гипсокартона к поверхности, клеевой и с помощью металлического профиля, обычно крепление при помощи профиля используется для создания подвесных потолков, но так же этот способ применяется для выравнивания стен, если перепад уровня поверхности очень велик.</li>
                            <li>Шпаклевочные работы. Шпаклевка стен, потолка проводится для того что бы выровнить незначительные неровности после проведения штукатурных работ, создать идеально ровную, гладкую поверхность для того, чтобы провести чистовые отделочные работы; покраску стен и потолка, наклеивание обоев, нанесение декоративных покрытий.</li>
                            <li>Сантехнические работы. Первый этап сантехнических работ в квартире, доме, коттедже - это разводка водопровода и канализации, которая производится до начала чистовых отделочных работ Водопровод и канализация играют очень важную роль в ремонте помещения. Не качественно выполненные работы, ведут к таким последствиям, как прорыв водопровода, подтечки канализации, что приводит к подтоплению и возникновению неприятных запахов в помещении. Разводка водопроводных труб ведется из оцинкованной стали, меди, металопласта, пропилена или сшитого полиэтилена. Разводка канализации как правило из пластиковых труб ПВХ(поливинилхлорид).</li>
                            <li>Электромонтажные работы проводятся до начала отделочных работ. Проводится штробление, проводка электрического кабеля, установка подразетников, монтаж электрического щита, установка автоматов, УЗО. Розетки и рамки устанавливаются уже по окончанию отделочных работ.</li>
                            <li>Монтаж системы отопления в доме, коттедже, квартире является очень сложным этапом ремонтно-отделочных работ. Начинать монтаж нужно с грамотно составленного проекта в котором произведен расчет с учетом всех особенностей помещения, таких как, высота потолков, теплоизоляция, площадь обогреваемого помещения, расположение радиаторов отопления.</li>
                            </ul>

                            <p>Чистовые отделочные работы</p>

                            <p>После того, как будут закончены черновые отделочные работы наступает время приступить к завершающей стадии ремонта, выполнить чистовые отделочные работы. Чистовая отделка стен, потолков, является очень важным этапом, так как начинаются работы которые визуально отразят качество всех ранее производимых работ. По этому относится к ним нужно с особым вниманием.</p>

                            <ul class="circle indent">
                                <li>Покраска стен, потолка. После того, как произведены черновые отделочные работы, штукатурка, шпаклевка, приступаем к покраске стен, потолка. Перед покраской подготавливаем стены. Просматриваем поверхность, что бы не было изъянов, углубленных царапин. Затем грунтуем поверхность для того что бы закрепить шпаклевочный слой и уменьшить расход краски. Покраска стен, потолка проводится в два слоя, а если понадобится и в три слоя.</li>
                                <li>Поклейка обоев. Производится на хорошо подготовленные, загрунтованные стены. В наше время существует множество видов обоев; бумажные, виниловые, флизелиновые, шелковые, структурные, текстильные и т.д. и все они должны наклеиваться на хорошо подготовленную поверхность с соблюдением всех требований указанных на вкладыше данных обоев.</li>
                                <li>Настил полов. Выполняется после того, как проведены все черновые отделочные работы. Что бы качественно выполнить работы по настилу полов необходимо учитывать основной фактор-это влажность. Влажность в помещении не должна превышать установленой нормы. Так же поверхность пола должна быть подготовленной, чистой и ровной. При несоблюдении некоторых норм, например при укладке штучного паркета происходит рассыхание, появляются щели и еще хуже паркет может подняться. По этому при укладке паркета обратите внимание как на качество самого материала , так и на качество подготовленной поверхности.</li>
                                <li>Устройство потолков. Устройство потолков в отделке помещения играет немаловажную роль. Потолки могут быть выравненными и покрашенными или многоуровненными из гипсокартона, реечными. В наше время все болшей популярностью пользуются натяжные потолки, которые не требуют большого объема работ по выравниванию и шпаклевке, они монтируются быстро, скрывая все неровности на поверхности.</li>
                                <li>Установка межкомнатных дверей. Это последний этап отделочных работ. Межкомнатные двери занимают не последнее место в современном интерьере, даже иногда являясь его выразительными деталями. Качественно установить двери могут только опытные специалисты, не доверяйте дилетантам, обратитесь нашу компанию и опытные профессионалы выполнят любые отделочные работы на высшем уровне.</li>
                            </ul>

                            <p>Отделочные работы - желанный заключительный этап ремонта квартиры, придающей ей законченный и жилой вид. Благодаря отделке квартира приобретает задуманный облик, становится возможным производить меблировку и в итоге обживать обновленный дом. Чтобы проживание в пережившей ремонт квартире не было омрачено пузырящимися обоями или некачественно уложенным ламинатом, доверьте отделочные работы профессионалам своего дела - строительной компании «Рубин», которая проведет отделку высокого качества в Самаре по доступным ценам.</p>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><%= link_to "Благоустройство", pages_beautyfication_url %></li>
                            <li><%= link_to "Кровельные работы", pages_roofing_url %></li>
                            <li><%= link_to "Металлоконструкции", pages_metall_url %></li>
                            <li><%= link_to "Отделочные работы", pages_finishing_url %></li>
                            <li><%= link_to "Малоэтажное строительство", pages_building_url %></li>
                            <li><%= link_to "Отопление и водоснабжение", pages_heating_url %></li>
                            <li><%= link_to "Электромонтажные работы", pages_electrician_url %></li>
                            <li><%= link_to "Бассейны", pages_pools_url %></li>


                    </ul>
                </div>
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->