    <section id="content" class="container clearfix">
        <section id="slider-home">
            <div class="flex-container">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <%=image_tag "slide/metall.jpg", alt: "Металлоконструкции"%>
                            <div class="flex-caption">
                                <h2>Металлоконструкции</h2>
                                <p>Изготовление и монтаж металлоконструкций по широкому профилю назначений.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/building.jpg", alt: "Малоэтажное строительство"%>
                            <div class="flex-caption">
                                <h2>Малоэтажное строительство</h2>
                                <p>Полный спектр услуг в сфере малоэтажного строительства.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/earthworks.png", alt: "Земляные работы"%>
                            <div class="flex-caption">
                                <h2>Земляные работы</h2>
                                <p>Максимальная эффективность земляных работ в самые короткие сроки.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/asphalting.jpg", alt: "Дорожные работы"%>
                            <div class="flex-caption">
                                <h2>Дорожные работы</h2>
                                <p>Строительство дорог, площадок, и благоустройство территорий.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/beautyfication.jpg", alt: "Благоустройство и озеленение"%>
                            <div class="flex-caption">
                                <h2>Благоустройство и озеленение</h2>
                                <p>Проведение комплекса мероприятий направленных на придание территории эстетически привлекательного внешнего вида.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/fence.jpg", alt: "Изготовление заборов"%>
                            <div class="flex-caption">
                                <h2>Изготовление заборов</h2>
                                <p>Изготовление заборов и ограждений из различных материалов и их сочетаний.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/sewerage.png", alt: "Канализация и водоснабжение"%>
                            <div class="flex-caption">
                                <h2>Канализация и водоснабжение</h2>
                                <p>Проектирование, монтаж и обслуживание систем канализации, вентиляции, водоснабжения и отопления.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/finishing.jpg", alt: "Отделочные работы"%>
                            <div class="flex-caption">
                                <h2>Отделочные работы</h2>
                                <p>Работы по отделке стен и потолка, укладке напольных покрытий а также иные виды работ.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/electrician.jpg", alt: "Электромонтажные работы"%>
                            <div class="flex-caption">
                                <h2>Электромонтажные работы</h2>
                                <p>Выполнение работы качественно, в соответствии с действующими нормативами, всегда укладываясь в намеченные сроки и бюджет.</p>
                            </div>
                        </li>
                        <li>
                            <%=image_tag "slide/pools.jpg", alt: "Строительство бассейнов"%>
                            <div class="flex-caption">
                                <h2>Строительство бассейнов</h2>
                                <p>Каждый бассейн является неповторимым, приносит множество положительных эмоций и дарит отличное настроение.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section>
            <div class="infobox">
                <div class="infobox-inner">
                <%= button_to "Перейти", pages_price_url, :method => :get, :class => 'button large' %>
                    <div class="with-button">
                        <h2>Прайс лист</h2>
                        <p>Итоговые расценки на работы могут отличаться от представленных на сайте – обычно они устанавливаются в индивидуальном порядке, исходя из объема и трудоёмкости работ.</p>
                    </div>
                    <%= button_to "Перейти", pages_price_url, :method => :get, :class => 'button large mobile-button' %>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Наши услуги <span class="more">&ndash; <%= link_to "Посмотреть все услуги", pages_images_url, :method => :get %></span></h2> 

            
            <ul class="iconbox-carousel">
                <li>
                    <div class="iconbox computer">
                        <h4><a href="#"><span class="iconbox-icon"></span>Responsive Layouts</a></h4>
                        <p>Layouts that scale gracefully across varying screen sizes.</p> 
                    </div>
                </li>
                <li>
                    <div class="iconbox mouse">
                        <h4><a href="#"><span class="iconbox-icon"></span>HTML5 &amp; CSS3 Code</a></h4>
                        <p>Standards-compliant and cross-browser HTML/CSS code.</p>   
                    </div>
                </li>
                <li>
                    <div class="iconbox applications">
                        <h4><a href="#"><span class="iconbox-icon"></span>Clean Design</a></h4>
                        <p>Professional, clutter-free and aesthetically simple design.</p>   
                    </div>
                </li>
                <li>
                    <div class="iconbox cog">
                        <h4><a href="#"><span class="iconbox-icon"></span>CMS-Driven Websites</a></h4>
                        <p>CMS-driven websites that you can easily customize.</p>  
                    </div>
                </li>
                <li>
                    <div class="iconbox globe">
                        <h4><a href="#"><span class="iconbox-icon"></span>Search Engine Optimization</a></h4>
                        <p>Get the maximum exposure from search engines.</p>  
                    </div>
                </li>
                <li>
                    <div class="iconbox write">
                        <h4><a href="#"><span class="iconbox-icon"></span>Copywriting</a></h4>
                        <p>Creative and engaging words that provoke action.</p> 
                    </div>
                </li>
                <li>
                    <div class="iconbox address-book">
                        <h4><a href="#"><span class="iconbox-icon"></span>Customer Support</a></h4>
                        <p>Professional customer service that exceeds expectations.</p>   
                    </div>
                </li>
                <li>
                    <div class="iconbox chemical">
                        <h4><a href="#"><span class="iconbox-icon"></span>IT Solutions</a></h4>
                        <p>Connecting technology to your business needs.</p>
                    </div>
                </li>
            </ul>
        </section>

        <section>
            <h2>Последние проекты <span class="more">&ndash; <%= link_to "Посмотреть все проекты", pages_images_url, :method => :get %></span></h2>

            <ul class="project-carousel">

                <li class="entry">
                    <div class="entry-image">
                        <a class="fancybox" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                    </div>
                    <h4 class="entry-title"><a href="#">White Dining Room</a></h4>
                    <div class="entry-content">
                        <p>Image project with lightbox.</p>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-image">
                        <a class="fancybox" data-fancybox-group="gallery-living-large-windows" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                        <a class="fancybox invisible" data-fancybox-group="gallery-living-large-windows" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                        <a class="fancybox invisible" data-fancybox-group="gallery-living-large-windows" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                    </div>

                    <h4 class="entry-title"><a href="#">Living with Large Windows</a></h4>
                    <div class="entry-content">
                        <p>Gallery project with lightbox.</p>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-slider">
                        <ul>
                            <li><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                        </ul>
                    </div>
                    <h4 class="entry-title"><a href="#">Brown Living Room</a></h4>
                    <div class="entry-content">
                        <p>Gallery project with slider and lightbox.</p>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-slider">
                        <ul>
                            <li><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                        </ul>
                    </div>
                    <h4 class="entry-title"><a href="#">Brown Living Room</a></h4>
                    <div class="entry-content">
                        <p>Gallery project with slider and lightbox.</p>
                    </div>
                </li>


                
                <li class="entry">
                    <div class="entry-image">
                        <a class="fancybox" href="#" title="Project Title"><span class="overlay zoom"></span><img src="dining-white-220x130.png" alt=""></a>
                    </div>
                    <h4 class="entry-title"><a href="#">White Dining Room</a></h4>
                    <div class="entry-content">
                        <p>Image project with lightbox.</p>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-image">
                        <a class="fancybox" data-fancybox-group="gallery-living-large-windows" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                        <a class="fancybox invisible" data-fancybox-group="gallery-living-large-windows" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                        <a class="fancybox invisible" data-fancybox-group="gallery-living-large-windows" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a>
                    </div>

                    <h4 class="entry-title"><a href="#">Living with Large Windows</a></h4>
                    <div class="entry-content">
                        <p>Gallery project with lightbox.</p>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-slider">
                        <ul>
                            <li><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                        </ul>
                    </div>
                    <h4 class="entry-title"><a href="#">Brown Living Room</a></h4>
                    <div class="entry-content">
                        <p>Gallery project with slider and lightbox.</p>
                    </div>
                </li>

                <li class="entry">
                    <div class="entry-slider">
                        <ul>
                            <li><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="gallery-living-brown" href="#" title="Project Title"><span class="overlay zoom"></span><img src="#" alt=""></a></li>
                        </ul>
                    </div>
                    <h4 class="entry-title"><a href="#">Brown Living Room</a></h4>
                    <div class="entry-content">
                        <p>Gallery project with slider and lightbox.</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="one-half">
            <h2>Подписаться на новости</h2>
            <div id="newsletter-wrap">
                <p>После подписки на новостную рассылку на ваш e-mail будут приходить все актуальные новости и акции компании СК «Рубин». Вы в любой момент сможете отписаться от рассылки.</p>
                <div class="notification-box notification-box-success" style="display: none;">
                    <p>Вы успешно подписаны на новостную рассылку. Проверьте почтовый ящик для подтверждения.</p>
                    <a href="#" class="notification-close notification-close-success">x</a>
                </div>

                <div class="notification-box notification-box-error" style="display: none;">
                    <p>Ваш почтовй ящик не может быть добавлен в список рассылки. Пожалуйста повторите запрос позже.</p>
                    <a href="#" class="notification-close notification-close-error">x</a>
                </div>
                <form id="newsletter-form" class="content-form clearfix" action="#" method="post">
                    <input id="subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                    <input id="newsletter" type="email" name="newsletter" placeholder="Enter your email address here &hellip;" class="required">
                </form>
                <p class="tip"><span class="note">&#42;</span>Если письмо не приходит, проверьте папку спам в Вашем почтовом ящике.</p>
            </div>
        </section>

        <section class="one-half column-last">
            <h2>Отзывы <span class="more">&ndash;<a href="#">Просмотреть все отзывы &raquo;</a></span></h2>
            <ul class="testimonial-carousel">
            <% @testimonials.each do |testimonial| %>
              <li>
                    <blockquote class="speech-bubble">
                            <div class="quote-content">
                                <p><%=testimonial.comment%></p>
                                <span class="quote-arrow"></span>
                            </div>
                            <div class="quote-meta">
                                <p><%=testimonial.author%></p>
                            </div>
                    </blockquote>
              </li>
            <% end %>
            </ul>
        </section>
            

        <section>
            <h2>Наши клиенты</h2>
            <ul class="iconbox-carousel">
                <li><%=image_tag "themeforest.png", alt:"ThemeForest" %></li>
                <li><%=image_tag "photodune.png", alt:"PhotoDune" %></li>
                <li><%=image_tag "audiojungle.png", alt:"AudioJungle" %></li>
                <li><%=image_tag "codecanyon.png", alt:"CodeCanyon" %></li>
                <li><%=image_tag "graphicriver.png", alt:"GraphicRiver" %></li>
            </ul>
        </section>
    </section>
