<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Полимерные полы</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/polymer_flooring.jpg", alt: "Полимерные полы"%>                </br></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Устройство полимерных полов</h2>
                        <div class="entry-content">
                            <p class="intro">
                                Устройство полимерных полов являются ультрасовременным типом покрытия и представляют собой бесшовную мембрану из полимера, наносимого на различные основания (чаще всего – бетон).
                            </p>

                            <p>
                                Полимерные наливные полы обладают уникальными свойствами. Они защищены от физических, а также химических повреждений, особый состав материала наделяет пол 100%-й беспыльностью. Благодаря их техническим характеристикам имеется возможность создавать необычные декоративные варианты, производство которых реализовывается исключительно из полимерного материала.
                            </p>

<h4>Разновидности устройства полимерных полов:</h4>
<ul class="circle indent">
<li>Высоконаполненные. Толщина достигает 5-15 мм.</li>
<li>Самонивелирующиеся (наливные), 2-4 мм.</li>
<li>Тонкослойные, около 1 мм.</li>
</ul>

<h4>Полиуретановые покрытия</h4>

<p> Отличаются эластичностью и повышенной твердостью. Идеальный вариант для установки в помещениях, где наблюдается подвижность пола (например, ввиду вибрации), при осуществлении абразивных нагрузок. Обладают совершенными эксплуатационными свойствами: практически не реагируют на перепады температур, способны выдержать очень сильные ударные нагрузки.
Цвет наполнителя может быть практически любым, благодаря чему полиуретановое покрытие может справиться с любой дизайнерской задачей.</p>

<h4> Покрытие на основе эпоксидных смол</h4>

<p> Главное отличие от полиуретановых – особая химическая стойкость. При добавлении эпоксидных смол покрытие обретает антистатичность и кислотостойкость. Имеется возможность добавления кварцевого наполнителя с целью сделать пол невосприимчивым к воде. </p>

<h4> Область применения</h4>

<p> Производственные помещения.Идеальны для установки в зданиях, где происходят влажные технические процессы, а также для торговых центов, выставочных залов, складов, терминалов.
Здания с высокой степенью нагрузок. Устанавливаются перед входами в общественные здания и производственные объекты; в цехах, паркингах.</p>

<p> Учреждения с большим потоком людей. Медучреждения, гостиницы, общепиты.</p>

<p> Промышленные холодильные камеры. Подходят для использования в помещениях, где происходит поражо- и взрывоопасное производство. АЗС, машинные залы, химические лаборатории.</p>

<p>С/х помещения. Оранжереи, теплицы, а также здания, где содержатся животные.</p>

<h4>Технология устройства полимерных полов</h4>
<ul class="circle indent">
<li>1. Изучение основания
Необходимо привести основание в такой вид, чтобы оно было ровным и гладким. На данном этапе в целях лучшей адгезии материалов основания и полимерного слоя осуществляется фрезерование.</li>
<li>2. Работа с трещинами и царапинами
Ввиду того, что качество верхнего слоя будет полностью зависеть от основания, на последнем необходимо выявить и устранить трещины с царапинами.</li>
<li>3. Нанесение нижнего и основного слоя.
При помощи особого оборудования осуществляется заливка полимерного грунтового, а затем основного слоя.</li>
<li>4. Завершающие работы.
Осуществление ухода за поверхностями.
Противоударность, высокая износостойкость, гигиеничность – полимерные наливные полы соответствуют всем требованиям эксплуатации в промышленных зданиях.</li>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><%= link_to "Благоустройство", pages_beautyfication_url %></li>
                            <li><%= link_to "Кровельные работы", pages_roofing_url %></li>
                            <li><%= link_to "Металлоконструкции", pages_metall_url %></li>
                            <li><%= link_to "Отделочные работы", pages_finishing_url %></li>
                            <li><%= link_to "Малоэтажное строительство", pages_building_url %></li>
                            <li><%= link_to "Отопление и водоснабжение", pages_heating_url %></li>
                            <li><%= link_to "Электромонтажные работы", pages_electrician_url %></li>
                            <li><%= link_to "Бассейны", pages_pools_url %></li>

                    </ul>
                </div>              
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->