<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Профессиональные кровельные, высотные работы</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/roofing.jpg", alt: "Кровельные работы"%></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Кровельные работы</h2>
                        <div class="entry-content">
                            <p>Под кровлей понимают верхний элемент здания, который помогает предохранить внутренние помещения от попадания влаги, снега, холода, солнечных лучей, а также от механических повреждений. Фирмы по кровельным работам популярны сейчас как никогда (Самара – тоже не исключение). Это объясняется большими объемами частного строительства и большими объемами ремонтных работ по замене износившихся крыш.</p>

                            <p>Наша компания выполняет строительные и кровельные работы. Фото готовых объектов вы можете изучить на нашем сайте. Производство кровельных работ осуществляется опытными мастерами из разнообразных материалов в зависимости от пожелания клиентов и их финансовых возможностей.</p>

                            <p>Современные кровли – многослойные конструкции, которые позволяют создавать теплоизоляционный эффект, не пропуская теплый воздух через крышу из здания.</p>

                            <p>Кровли в зависимости от характеристик использованного материала бывают:</p>

                            <ul class="circle indent">
                            <li>Мягкими. Основой для этого кровельного материала служит битум (окисленный или модифицированный), который отличается низкой ценой и хорошими эксплуатационными характеристиками. Кровельные работы и ремонт крыш с помощью мягкой черепицы, рулонной или мембранной кровли не займут много времени</li>
                            <li>Металлическими. Москва и Подмосковье сегодня в строительстве чаще всего используют именно этот долговечный и прочный материал. Из него можно создать крышу любой сложности и формы. Металлочерепица, профнастил или же фальцевая кровля – выбор за вами. Кровельные работы из черепицы чаще всего заказывают для мест с суровыми климатическими условиями. Они как никакой другой материал способны противостоять разрушениям под воздействием стихии</li>
                            <li>Светопропускающими. Для их возведения используют современные материалы: тафтекс, салюкс, ПВХ</li>
                            <li>Шиферными. Этот вариант является классикой. В специализированных компаниях могут предложить асбестоцементный, природный и еврошифер</li>
                            </ul>

                            <p>Что подразумевают под монтажом кровли?</p>

                            <p>Монтаж кровли – кровельные работы, которые направлены на возведение крыши. Проводятся они в теплое время года из различных материалов, что перед началом работ осматриваются на предмет повреждений, подготавливаются (разрезаются на нужные куски и т.д.).</p>

                            <p>Строительство крыши и кровельные работы подразумевают под собой:</p>

                            <ul class="circle indent">
                                <li>обустройство стропильной системы кровли</li>
                                <li>монтаж мягкой или фальцевой (а также битумной, мембранной, скатной или другой) кровли</li>
                                <li>утепление кровли с помощью гидроизоляционных утеплителей</li>
                                <li>возведение обрешетки</li>
                                <li>обустройство гидроизоляционных и пароизоляционных систем</li>
                                <li>установка водосточных труб</li>
                                <li>возведение мансардных крыш и окон в них, а также их внутренняя отделка</li>
                                <li>оборудование системы кровельного обогрева</li>
                            </ul>

                            
                            <p>Наша строительная компания проводит кровельные работы любой сложности независимо от формы собственности и предназначения объекта. Мы можем предложить своим клиентам любые виды кровельных услуг, в том числе реставрацию старых крыш, экспертизу кровель на предмет их безопасности и износа. Если вам приглянулось фото крыши в журнале или на сайте в интернете, вы можете показать нам его и мы сделаем вам точно такую же кровлю!</p>

                            <p>Проведение кровельных работ – ответственное мероприятие, так как именно крыша принимает на себя основной «удар» со стороны природных факторов. При ее возведении должны использоваться ГОСТы и СНиПы, а работники должны иметь соответствующие навыки работы с теми или иными материалами. Прежде чем приступить к работе, наши специалисты приедут на объект, проведут его осмотр, просчитают стоимость услуги, количество необходимых материалов.</p>

                            <p>Кровельные работы в Самарской области предлагают многие фирмы. Только не все они дают гарантию на оказанные услуги и используют качественные материалы, а также труд квалифицированных сотрудников. Так что, если вам нужны кровельные работы под ключ (Самара и область), обращайтесь в строительную компанию «Рубин»!</p>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            


            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><%= link_to "Благоустройство", pages_beautyfication_url %></li>
                            <li><%= link_to "Кровельные работы", pages_roofing_url %></li>
                            <li><%= link_to "Металлоконструкции", pages_metall_url %></li>
                            <li><%= link_to "Отделочные работы", pages_finishing_url %></li>
                            <li><%= link_to "Малоэтажное строительство", pages_building_url %></li>
                            <li><%= link_to "Отопление и водоснабжение", pages_heating_url %></li>
                            <li><%= link_to "Электромонтажные работы", pages_electrician_url %></li>
                            <li><%= link_to "Бассейны", pages_pools_url %></li>


                    </ul>
                </div>              
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->